@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-image: url('/images/realestate_outside01.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.content {
  width: 100%;
  max-width: 120vh;  /* Adjust the width as necessary */
  margin: 0 auto;
  z-index: 10;
  position: relative;
}

.section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
